/* * {
  box-sizing: border-box;
} */

h1 {
  color: white;
  font-weight: bold;
  font-size: 100px;
}

.container-comics {
  width: 20%;
  padding: 10px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  color: white;
}

.container-comics h2 {
  margin-bottom: 10px;
}

.container-comics img {
  width: 100%;
  height: auto;
}

.container-comics p {
  margin-top: 10px;
}

.comics-desc {
  display: flex;
  background-color: rgb(50, 50, 50);
  width: 230px;
  margin-left: 60px;
  border-radius: 7px;
}

.comics-title {
  font-size: large;
  font-weight: 900;
  width: auto;
  background-color: rgb(50, 50, 50);
  border-radius: 7px;
}
